<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {{args.get('name')[1]}} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{args.get('name')[1]}}">
    <meta name="robots" content="index, follow" />
    <meta name="google" content="notranslate">


    <link rel='icon' href='/static/CanvasWorld/.favicon.ico' type='image/x-icon'>
    <script src="/static/resources/jquery-3.3.1.min.js"></script>
    <!-- <script src="/static/resources/highlight.pack.js"></script> -->
    {% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/attractors_template.css"> {% endblock %}
    <link rel="stylesheet" type="text/css" media="screen" href="static/resources/default.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>

    {% if not p5 %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js"></script>
    <script
        src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/EffectComposer.js">
    </script>
    <script
        src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/shaders/FocusShader.js">
    </script>
    <script
        src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/shaders/CopyShader.js">
    </script>
    <script
        src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/RenderPass.js">
    </script>
    <script
        src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/ShaderPass.js">
    </script>
    <script src="https://searchcode.com/codesearch/raw/58375664/"></script>

    <script src="/static/resources/ThreeSetup.js"></script>
    <script>
    console.warn("Three js in use")
    function map(n, start1, stop1, start2, stop2){
    return ((n-start1)/(stop1-start1))*(stop2-start2)+start2;
}
</script>
    {%else%}
    <script>console.warn("p5 in use")</script>
    <script src="/static/resources/p5.js"></script>

    {%endif%}

    {%block head %}{% endblock %}

    <script>
        let TNAME = ("{{ args.get('name')[1]}}")
    </script>
    <script src="static/js/template.js"></script>

    <script class="source"
        src="/static/CanvasWorld/{{ args.get('name')[1] }}/scripts/index.{% if args.get('v') %}{{args.get('v')}}.{% endif %}js" />
    </script>
</head>

<body>
    <div id="header">
        <a class="name" href="/">CW</a><a> >> </a> <a href="{{ args.get('name')[0]}}">
            <h1>{{ args.get('name')[1]}}</h1>
        </a>
        <div id="links"></div>
    </div>
    </div>
    <div id="canvas"><a id="fps"></a></div>
   </body>

</html>